# Environment Secrets Template (Do not put actual secrets here)
UPLOAD_SECRET=
TURNSTILE_SECRET_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_FOLDER_ID=
PIXELDRAIN_API_KEY=
BUZZHEAVIER_API_KEY=
ALLOWED_IPS=
BLOCKED_IPS=
ENVIRONMENT=production
